/* variables */
$screen-sm: '640px';
$screen-md: '768px';
$screen-lg: '1024px';
$screen-xl: '1280px';
$screen-2xl: '1440px';
$screen-3xl: '1636px';
$screen-4xl: '2000px';
$screen-5xl: '2560px';

$color-dark-brown: #360C07;
$color-soft-brown: #852511;
$color-soft-black: #151414;
$color-mustard: #F9C478;
$color-fill-modal: #F5EAE6;

$font-family-roboto: 'Roboto Serif';

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 1.875rem;
$font-size-3xl: 2.25rem;

